<template id="iron-button" type="button">
  <style>
    :host{ display: inline-block; }
    button {
      display: inline-block;
      color: #fff;
      background-color: var(--theme-color);
      border: none;
      padding: 5px 16px;
      font-family: var(--theme-font);
      border-radius: 2px;
      font-size: 15px;
      cursor: pointer;
      box-shadow: none;
      transition: box-shadow 0.35s ease-in-out;
    }
    button:hover{
      box-shadow:0 5px 10px -1px rgba(0,0,0,0.35);
      transition: box-shadow 0.35s ease-in-out;
    }
    button:active, button:focus {
      outline: none;
    }
  </style>
  <button></button>
</template>
<template id="iron-o-button" type="button">
  <style>
    :host{ display: inline-block; }
    button {
      display: inline-block;
      color: var(--theme-color);
      background-color: var(--theme-background);
      border: 1.2px solid var(--theme-color);
      padding: 5px 16px;
      font-family: var(--theme-font);
      border-radius: 2px;
      font-size: 15px;
      cursor: pointer;
      box-shadow: none;
      transition: box-shadow 0.35s ease-in-out;
    }
    button:hover{
      box-shadow:0 5px 10px -1px rgba(0,0,0,0.35);
      transition: box-shadow 0.35s ease-in-out;
    }
    button:active, button:focus {
      outline: none;
    }
  </style>
  <button></button>
</template>

<template id="iron-link" type="a">
  <style>
    :host{ display: inline-block; }
    a {
      display: inline-block;
      color: #fff;
      background-color: var(--theme-color);
      border: none;
      padding: 5px 16px;
      font-family: var(--theme-font);
      border-radius: 2px;
      font-size: 15px;
      cursor: pointer;
      box-shadow: none;
      text-decoration: none;
      transition: box-shadow 0.35s ease-in-out;
    }
    a:hover{
      box-shadow:0 5px 10px -1px rgba(0,0,0,0.35);
      transition: box-shadow 0.35s ease-in-out;
    }
    a:active, a:focus {
      outline: none;
    }
  </style>
  <a></a>
</template>
<template id="iron-o-link" type="a">
  <style>
    :host{ display: inline-block; }
    a {
      display: inline-block;
      color: var(--theme-color);
      background-color: var(--theme-background);
      border: 1.2px solid var(--theme-color);
      padding: 5px 16px;
      font-family: var(--theme-font);
      border-radius: 2px;
      font-size: 15px;
      cursor: pointer;
      box-shadow: none;
      text-decoration: none;
      transition: box-shadow 0.35s ease-in-out;
    }
    a:hover{
      box-shadow:0 5px 10px -1px rgba(0,0,0,0.35);
      transition: box-shadow 0.35s ease-in-out;
    }
    a:active, a:focus {
      outline: none;
    }
  </style>
  <a></a>
</template>